body {
    background-color: darkgray;
}
#header{
    color: white;
    margin-left: 20px;
}
.square{
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-bottom: 10px;
    margin-left: 30px;
}
